# Terraform state files
terraform.tfstate
terraform.tfstate.backup
terrform/terraform.tfstate*
# Terraform lock file
.terraform.lock.hcl

# Terraform plan file
*.tfplan

# Terraform working directory
.terraform/
